{% set ulClass = options.ulClass ?? '' %}
{% set liClass = options.liClass ?? '' %}
{% set checkFieldDiv = options.checkFieldDiv ?? '' %}


{% if field['type'] == "craft\\fields\\Number" %}
	<div class="{{ checkFieldDiv }}">
	
		<ul class="{{ ulClass }}">
			<li class="{{ liClass }}">
				{% if numberRange|length > 0 %}
					{% if numberRange[0]['handle'] == field['handle'] %}
					{% set ftype = field['type'] %}
					{% set min = numberRange[0]['min'] %}
					{% set max = numberRange[0]['max'] %}
					<span>
						<label for="rangeSlider">{{ field['name'] }}
							<input 
								type="range" 
								class="js_eFilterO rangeSlider" 
								name="{{field['handle']}}"  
								min="{{ min }}" 
								max="{{ max }}" 
								step="1"
								id="rangeSlider"
								data-ftype="{{ ftype }}"
							>
						</label>
					</span>

					{% endif %}
				{% endif %}
			</li>
		</ul>	
	</div>
{% endif %}